* {margin-right: 5%; margin-left: 5%; margin-bottom: 5%; margin-bottom: 5%; padding:0pt; text-indent:0; background-color: #C4C2C3}
.s1 {
	color: black;
	font-family: '庞门正道标题体';
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	font-size: 24pt;
	text-align: center;
}
 .s2 { color: black; font-family:宋体; font-style: normal; font-weight: normal; text-decoration: none; font-size: 14pt; }
 .s3 { color: black; font-family:方正黑体_GBK; font-style: normal; font-weight: normal; text-decoration: none; font-size: 14pt; padding-bottom: 1em;padding-left: 0pt;text-indent: 0pt;text-align: left;}
p { color: black; font-family:"等线 Light"; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; margin:0pt; }
 .s4 { color: black; font-family:仿宋, monospace; font-style: italic; font-weight: normal; text-decoration: none; font-size: 12.5pt; padding-left: 0pt;text-indent: 0pt;text-align: center; }
 .s5 { color: black; font-family:仿宋, monospace; font-style: italic; font-weight: normal; text-decoration: none; font-size: 10.5pt; text-align: center;padding-left: 0pt;text-indent: 0pt;text-align: center;}
 .s6 { padding-left: 0px;text-indent: 2em;line-height: 16pt;text-align: left; }
a { margin: 0 auto;
    line-height: 0px;
    text-align: center;
	text-decoration: none;
}

a:link, 
a:visited { 
	color: black; 
	text-decoration:none; 
	background-color: #B6AAAE
} 
a:hover, 
a:active { 
	color:#fff; 
	text-decoration:none; 
	background-color: #B6AAAE
}
div#menu { 
	font-family:宋体; 
	text-align: center;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	border-left: 10px solid #A19678;
	border-radius: 5px;
	background-color: #B6AAAE
}